body{

    background-color: var(--cor-6);
}

.kk{

    background-color: var(--cor-4);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    width: ;
    height: 100px;
    top: 0%;
    left: 0%;
    position: fixed;
}

